.showcase-img {
  max-width: 300px;
  max-height: 300px;
}

.center {
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.link {
  text-decoration: none;
  color: inherit;
}

.product-detail-img {
  max-width: 100%;
  max-height: 100%;
}